.middle-wrapper {
  color: #fff;
  min-height: 70vh;
}

.middle-wrapper {
  display: flex;
}

.profile-left-section {
  width: 30%;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 1rem;
}
.profile-middle-section {
  margin-top: 3rem;
  margin-right: 4rem;
  width: 100%;
}
