.homepage-middle {
  width: 50%;
}

.homepage-middle-upload-container {
  margin-left: 3rem;
  background-color: #0e0f32;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.homepage-middle-upload {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 0.5rem;
}

.user-profile-small {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
}

.homepage-input-text {
  flex: 1;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: #3e3f5b;
  color: #fff;
}

.upload-image-container input {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}

.upload-image-btn-wrapper {
  display: flex;
  gap: 1rem;
}

.imagePreview {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.5rem;
}
.imagePreview img {
  width: 20rem;
  height: 20rem;
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #0e0f32;
  margin: 1rem 3rem;
  padding: 1rem;
  width: 95%;
  border-radius: 10px;
}

.posts p {
  font-size: 1.5rem;
}

.posts img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.posts-info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.posts-info img {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
}

.posts-username-time {
  display: flex;
  flex-direction: column;
}

.post-time {
  color: #878787;
  font-size: 1rem !important;
}

.post-content {
  padding: 1rem 0rem;
  width: 100%;
}

.file-input-label:hover {
  background-color: #2d691c;
}
