.homepage-middle {
  width: 50%;
  padding: 0rem 3rem;
}

.homepage-middle-upload-container {
  background-color: #0e0f32;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.homepage-middle-upload {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 0.5rem;
}

.user-profile-small {
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 2.5rem !important;
}

.homepage-input-text {
  flex: 1;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: #3e3f5b;
  color: #fff;
}

.upload-image-container input {
  position: absolute;
  font-size: 0rem;
  opacity: 0;
  right: 0;
  top: 0;
}

.upload-image-btn-wrapper {
  display: flex;
  gap: 1rem;
}

.imagePreview {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.5rem;
}
.imagePreview img {
  max-width: 100%;
  max-height: 100%;
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #0e0f32;
  margin: 1rem 0rem;
  padding: 1rem;
  border-radius: 10px;
}

.posts p {
  font-size: 1.5rem;
}

.posts img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  background-color: red;
}

.posts-info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.posts-info img {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
}

.posts-username-time {
  display: flex;
  flex-direction: column;
}

.post-time {
  color: #878787;
  font-size: 1rem !important;
}

.post-content {
  padding: 1rem 0rem;
  width: 100%;
}

.file-input-label:hover {
  background-color: #2d691c;
}

.homepage-middle-like-comment {
  width: 100%;
}

.like-section,
.comment-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.75rem;
}

.blurred-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 20rem;
  padding: 0.5rem 1rem;
}

.blurred {
  width: 35%;
  max-height: 30rem;
  background-color: #2d2e3e;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.blurred-comment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.blurred-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.blurred-all-comments {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  gap: 1rem;
  max-height: 20rem;
  overflow-y: auto;
}

.blurred-all-comments::-webkit-scrollbar {
  width: 1rem;
}
.blurred-all-comments::-webkit-scrollbar-track {
  background: #121212;
}
.blurred-all-comments::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.blurred-all-comments::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment-profilepicture {
  display: flex;
  margin: 1rem 0rem;
}

.comment-time {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment-time-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin-left: 1rem;
}

.comment-content {
  display: flex;
  width: 100%;
  margin: auto;
  color: #eeeeee;
}

.empty-posts {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #0e0f32;
  margin: 1rem 0rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  height: 53vh;
}

.homepage-middle-like-comment-wrapper {
  display: flex;
  flex-direction: column;
}

.homepage-like-comment {
  display: flex;
  gap: 2rem;
  width: 100%;
  font-size: 2rem;
  margin: 1rem 0rem;
}

.post-image {
  max-width: 100%;
  height: 75vh;
}
