.homepage-wrapper {
  display: flex;
  margin: 1rem 0rem;
  background-color: #000116;
  flex: 1;
}

.home-wrapper {
  background-color: #000116;
  width: 100%;
  min-height: 100vh;
}

.light-mode .home-wrapper {
  background-color: #fff;
}
