.story-version-wrapper {
  color: #fff;
  min-height: 70vh;
}

.story-version-container {
}

.story-version-container {
  display: flex;
  align-items: center;
}

.story-version-container img {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
}
