.pageleft-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 20%;
  margin: 3rem 0rem 0rem 5rem;
  border-radius: 1rem;
}

.pageleft-image {
  margin: 1rem 0rem;
}

.pageleft-image img {
  border-radius: 50%;
}
