.profileleft-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 20%;
  margin: 3rem 0rem 0rem 5rem;
  border-radius: 1rem;
}

.profileleft-image {
  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
  width: 100%;
  height: auto;
  margin: 1rem 0rem;
}

.profileleft-image img {
  border-radius: 50%;
  width: 50%;
}

.profileleft-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}
