.homepage-left {
  background-color: #0e0f32;
  color: #fff;
  height: 100%;
  width: 27rem;
  padding-left: 4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.homepage-left-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 1.5rem;
  padding-top: 1rem;
  width: 100%;
}

.homepage-left-stories p {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background-color: #3e3f5b;
  margin: 1rem 0rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.story-left-button {
  display: flex;
  justify-content: center;
}

.user-stories button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-stories p:hover {
  cursor: pointer;
  background-color: #5d5f97;
}

.collaborating-repositories {
  margin-top: 4rem;
  width: 100%;
}

.user-repositories h2 {
  margin: 1rem 0rem;
}

.light-mode .homepage-left {
  background-color: #f0f0f0;
  color: #000;
}

.light-mode .homepage-left-stories p {
  background-color: #e0e0e0;
}

.light-mode .user-stories p:hover {
  background-color: #c0c0c0;
}
