header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 1rem 0rem;
}

.header-logo img {
  width: 5rem;
  cursor: pointer;
}

.header-links-wrapper {
  display: flex;
  gap: 4rem;
}

.header-links a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.user-profile img {
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}
