header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.header-logo img {
  width: 5rem;
}

.header-links-wrapper {
  display: flex;
  gap: 4rem;
}

.header-links a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.user-profile p {
  font-size: 1.5rem;
  color: #fff;
}
