header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 1rem 0rem;
}

.header-logo img {
  width: 5rem;
  cursor: pointer;
}

.header-links-wrapper {
  display: flex;
  gap: 4rem;
}

.header-links a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.header-links a:hover {
  color: #37ff00;
}

.user-profile img {
  position: relative;
  width: 6rem;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 6rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: -0.5rem;
}

.dropdown-content button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #bdbdbd;
}
