.repo-wrapper {
  color: #fff;
}

.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
  margin: auto;
  border-radius: 10px;
  background-color: #0e0f32;
  height: 80vh;
  margin-bottom: 2%;
}

.name-description-wrapper {
  margin: 1rem 0rem;
  display: flex;
  width: 75%;
  font-size: 1.5rem;
}

.story-title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0rem;
  font-size: 2rem;
}

.story-owner,
.story-name {
  display: flex;
  flex-direction: column;
}

.story-seperator {
  padding-top: 2.5rem;
  font-size: 1.5rem;
  margin: 0rem 1rem;
}

.story-description {
  width: 75%;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

hr {
  width: 100%;
  border-color: #65b450;
}

.description-input {
  width: 75%;
}
.story-visablility {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.story-public,
.story-private {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  gap: 1rem;
  margin: 1rem 0rem;
}

input[type="radio"] {
  width: 2rem;
  height: 1.5rem;
}

.public-info,
.private-info {
  font-size: 1rem;
  color: #878787;
}

.info-icon {
  font-size: 1.75rem;
}

.repo-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0rem;
  width: 75%;
}

.commit-btn-wrapper {
  margin: 1rem 0rem;
  display: flex;
  width: 75%;
  justify-content: flex-end;
}

.file-label {
  display: inline-block;
  cursor: pointer;
}

.file-input {
  display: none;
}
