.continue-btn {
  cursor: pointer;
  background-color: #65b450;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0rem 0.75rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: #fff;
  font-weight: 500;
}

.continue-btn:hover {
  background-color: #2d691c;
}
