.button-container button {
  cursor: pointer;
  background-color: #65b450;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0rem 0.75rem;
  color: #fff;
  font-weight: 500;
  width: 100%;
}
.button-container {
  width: 75%;
  margin: 0.5rem 0;
}

.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.input-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.input-btn-container input {
  width: 75%;
}

.button-container button:hover {
  background-color: #2d691c;
}

.forgot-password {
  display: flex;
  justify-content: flex-start;
  width: 75%;
  color: #36ff00;
  cursor: pointer;
}

.forgot-password:hover {
  color: #2e9e0f;
}

.or-line {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 75%;
  flex: 1;
  font-size: 1.25rem;
  margin: 0.5rem 0rem;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #9c9dd5;
  margin: 0 0.5rem;
}
