.button_container button {
  cursor: pointer;
  background-color: #65b450;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0rem 0.75rem;
  color: #fff;
  font-weight: 500;
  width: 100%;
}

.button-container {
  width: 75%;
  margin: 0.5rem 0;
}

.register_card {
  box-shadow: 0 0 10px rgba(156, 157, 213, 0.5);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.register_card input {
  font-size: 20px;
  padding: 0.5rem;
  background-color: #2d2e3e;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 0.5rem 0rem;
}

.input_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.input_btn_container button {
  margin: 0.5rem 0rem;
}

.input_btn_container input {
  width: 75%;
}

.button_container button:hover {
  background-color: #2d691c;
}

.button_container {
  width: 75%;
}

.forgot_password {
  display: flex;
  justify-content: flex-start;
  width: 75%;
}
.forgot_password a {
  color: #36ff00;
  cursor: pointer;
  text-decoration: none;
}

.forgot_password a:hover {
  color: #2e9e0f;
}

.or_line {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 75%;
  flex: 1;
  font-size: 1.25rem;
  margin: 0.5rem 0rem;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #9c9dd5;
  margin: 0 0.5rem;
}
